@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
}

.slider__swiper .swiper-button-next,
.slider__swiper .swiper-button-prev {
  color: white;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  padding: 12px;
}

.slider__swiper .swiper-button-prev {
  left: 10px !important;
}

.slider__swiper .swiper-button-next {
  right: 10px !important;
}

.slider__swiper .swiper-pagination-bullet-active {
  background-color: white;
}

